/**/

.white
{
	color: white;
}

table {
    width: 100%;
    border: 2px groove rgb(0, 161, 155);
}

th, td {
    border: 2px groove rgb(0, 161, 155);
}


.container2 {
  width: 960px;
  margin: 0 auto;
  padding: 40px 0;
}

hr.cloud {
    border-top: 10px solid #999B9B;
    height: 10px; /* Firefox... */
    box-shadow: 0 0 10px 1px aqua;
}
hr.cloud:after {  /* Not really supposed to work, but does */
    content: "\00a0";  /* Prevent margin collapse */
}

/**/
	
.divider 
{
  display: flex;
  
  &:before,
  &:after {
    content: "";
    flex: 1;
  }
}

.gradient {
  align-items: stretch;
  margin: 1em 0;
  height: 2em;
  line-height: 2em;
  color: white;
  background: black;
  
  &:before 
	{
    background: linear-gradient(to right, white, black);
  }
  
  &:after {
    background: linear-gradient(to left, white, black);
	}
}
