/* */
/* YASMINNNNNNNN OAAAAA*/
/* Background color */

body
{
background-color: HSL(0, 0%, 0.4%);
}

h1 
{
    color: #999B9B;
    text-align: center;
    font-family: Courier;
    margin-left: 40px; /* Adjust as needed to create space between the image and heading */
}



p
{
color: #FFFFFF;
font-size: 16px;
text-indent: 2em;
font-family: Garamond;
text-align: justify;
}

b
{
color: rgb(0, 161, 155);
}

i
{
color: rgb(0, 161, 155);
}

.container 
{
    position: relative;
    display: inline-block; /* Ensure the container only takes the necessary width */
}

.image 
{
    position: absolute;
    top: 50%; /* Position the image vertically centered */
    left: -30px; /* Adjust as needed */
    transform: translate(0, -50%); /* Center the image vertically */
}




