/* */
body
{
background-color: HSL(0, 0%, 0.4%);
}

h1
{
color: #999B9B;
text-align: center;
font-family: Courier;
}

p
{
color: #FFFFFF;
font-size: 16px;
text-indent: 2em;
font-family: Garamond;
text-align: justify;
}

b
{
color: rgb(0, 161, 155);
}

i
{
color: rgb(0, 161, 155);
}
